<div class="container">
  <div class="row"><h1>New Movie</h1>
    <form action="/create_movie">
      <input type="text" name="image" placeholder="IMDB link">
      <input type="text" name="url" placeholder="image url">
      <input type="submit">
    </form>
  </div>
</div>